* {
    font-family: 'Montserrat', sans-serif;
    
}



body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    
   
}

.container {
    display: grid;
    grid-template-rows: 6;
    width: 100%;

}


header {
    background-color: #0B4F6C;
    opacity: 100%;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1; 
    height: 8vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
}

#logo {
    position: absolute;
    top: 1vh;
    left: 1.5vw;
    margin: 1px;
    z-index: 2;
    width: 5vh;
    height: 5vh;
    
}

#logo > img{
   width: 100%;
   height: auto;
   z-index: 2;
  
}

#menu_options {
    list-style: none;
    display: block;

    
}

#menu_options > li {
    display: inline-block;
    margin: 1vw;
   
    color: #FFFFFF
}

#menu_options > li > a {
    color: #FFFFFF;
    font-size: clamp(15px, 3vw, 23px);
    text-decoration: none;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#menu_options > li > a:hover {
    color: black;
    opacity: 90%;
    text-decoration: none;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}



.icon {
    float: left;
    display: none;
    color: #f2f2f2;
    padding-top: 10%;
    text-decoration: none;
    font-size: 17px;
}



#social_media {
    position: absolute;
    top: 0.5vh;
    right: 1.5vw;
    font-size: 5vh;
    margin: 1px;
    z-index: 2;
   
}

.github {
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}


.github:hover {
    color: #171515;
    opacity: 90%;
    text-decoration: none;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.linkedin {
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;

}
  
.linkedin:hover  {
    color: #0072b1;
    opacity: 90%;
    text-decoration: none;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}
  
  
@media
  (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}

h3 {
    grid-row-start: 1;
    grid-column-start: span 2;
    margin: 5%;
    font-size: clamp(40px, 5vw, 100px);;
    place-self: top;
    text-align: center;

}

#section_1 {
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: [first] 50% [second] 50%;
    grid-template-rows: [first-row] 20% [second-row] 80%;
    padding-top: 1vh;
    scroll-margin-top: 40px;
    
}




.card {
    grid-column-start: 1;
    grid-column-end: 1;
    width: clamp(300px, 33vw, 640px);
    height: clamp(450px, 50vh, 600px);
    margin: 5%;
    place-self: end;
    align-self: center;
    overflow: hidden;
    border-radius: 2vw;
    box-shadow: 0 4px 8px 0 #0B4F6C, 0 6px 20px 0 #0B4F6C;
    display: grid;
    box-sizing:border-box;


}

.card.right_card {
    grid-column-start: 2;
    grid-column-end: 2;
    place-self: start;
    align-self: center;


}


.card > button {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 10%;
    place-self: end;
    background-color: #0B4F6C;
    color: #FFFFFF;
    opacity: 1;
    font-size: 1em;
    border: none;
    border-top: 3px solid black;
    cursor: pointer;
   
    
}



.front {
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.front > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}

.front #intro_text {
    margin: 5%;
    text-align: center;
    font-size: clamp(30px, 1.5vw, 800px);

}



.front_hidden {
    grid-row: 1;
    grid-column: 1;
    display: none;
    
  
}


.back {
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
    box-sizing: border-box;
 

    
}

.back #about_me {
    margin: 5%;
    text-align: center;
    font-size: clamp(15px, 1.3vw, 26px);
    word-wrap: break-word;


}

.back #intro_points {
    list-style-type: none;
    text-align: center;
    font-size: clamp(20px, 1vw, 800px);
    padding-top: 3%;
    padding-bottom: 4vh;
    margin-right: 10%;
}

.back_hidden {
    display: none;
 

}


#intro_points > li {
    margin-bottom: 3vh;

}

#intro_points li:before {    
    font-family: 'FontAwesome';
    content: '\f096';
    padding-right: 0.5vw;
   

}

#intro_points li.checkbox:before {    
    font-family: 'FontAwesome';
    content: '\f14a';
    padding-right: 0.5vw;
    color: #77dd77;

}


#section_2 {
    background-color: white;
    min-height: 100vh;
    display: grid;
    grid-template-rows: [first] 20% [second] 80% ;
    scroll-margin-top: 40px;

}




#carousel_wrapper {
    grid-row-start: 2;
    grid-column-start: span 2;
    width: clamp(300px, 70vw, 1400px);
    height: clamp(500px, 50vh, 700px);
    justify-self: center;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    margin: 4%;
    display: flex;

}


#carousel {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 80%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 4vw;
    padding:4vw;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 #0B4F6C, 0 12px 40px 0 #0B4F6C;
    
    
}


#carousel::-webkit-scrollbar {
    display: none;
  }
  



.carousel_item {
    border: 0.5vw solid #0B4F6C;
    border-radius: 2vw;
    flex-basis: clamp(250px, 40%, 500px);
    height: clamp(300px, 90%, 600px);
    flex-shrink: 0;
    margin: auto;
    display: flex;
    overflow: hidden;
    border-radius: 2vw;
    box-shadow: 0 2px 4px 0 #0B4F6C, 0 3px 10px 0 #0B4F6C;
   
   
   
}

.card_content {
    align-self: flex-end;
    background-color: rgba(11, 79, 108, 0.8);
    color: #ffffff;
    width: 100%;
    padding: 4%;
    border-top: 3px solid black;
    cursor: pointer;
    transform: translate3d(0, 70%, 0);
    transition: 1s all ease-in-out;

   
}



.card_content_hover {
    transform: translate3d(0, 0, 0);
    
    
}

.project_name {
    margin: 0;
}

.project_description {
    align-self: flex-start;
    margin-top: 10%;
}


#section_3 {
    background-color: #83C9F4;
    height: 150vh;
    display: grid;
    grid-template-rows: 1fr 11fr;
    grid-template-columns: 1fr;
    scroll-margin-top: 40px;
}


.future_tech_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: clamp(300px, 100%, 1800px);
    margin-left: auto;
    margin-right: auto;
   
   

    
   

}

.future_tech_items {
    box-sizing: border-box;
    border: #ffffff solid 2px;
    border-radius: 2vw;
    box-shadow: 0 4px 8px 0 #0B4F6C, 0 6px 20px 0 #0B4F6C;
    overflow: hidden;
    margin:3%;
    padding: 2%;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-template-rows: [first] 10% [second] 60% [third] 30%;
    width: clamp(300px, 32vw, 650px);
    height: clamp(300px, 40vh, 1000px);
    transition: 1s;

}

.future_tech_items:hover {
    transform: scale(1.05);
}

.future_tech_items > h4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: clamp(20px, 80%, 500px); 

}

.future_tech_items > p {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: clamp(15px, 1.2vw, 20px);
    font-weight: bold;
    align-self: center;
    text-align: center;
    

}


.ci-cd  {
    content: url('./assets/images/ci-cd.png');
    max-width: 40%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
   


}

.cypress  {
    content: url('./assets/images/cypress.png');
    max-width: 80%;
    grid-row-start: 2;
    grid-row-end: 2;
   
  
}

.selenium  {
    content: url('./assets/images/selenium.png');
    max-width: 40%;
    grid-row-start: 2;
    grid-row-end: 2;
   

}

.cyber_security  {
    content: url('./assets/images/cybersec.png');
    max-width: 25%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
   
}

.linux  {
    content: url('./assets/images/linux.png');
    max-width: 25%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
   
  
} 


#section_4 {
    background-color: white;
    height: 60vh;
    display: grid;
    grid-template-rows: [first] 20% [second] 40% [third] 40%;
    scroll-margin-top: 40px;

}

#section_4 > h4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: center;
    text-align: center;
    font-size: 2em;
    padding: 5%;
    max-width: 55%;
}

.contact_column {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-self: center;
    text-align: center;
    font-size: 2em;
    padding: 5%;
    max-width: 55%;

}


#contact_list {
    list-style-type: none;
    text-align: center;
    font-size: clamp(20px, 1.5vw, 800px);
    padding-top: 15%;
    padding-bottom: 4vh;
    line-height: 2em;
    display: flex; 
    justify-content: center; 
}

#contact_list > li {
    margin: 0 1em; 
   
}

#contact_list > li > a {
    text-decoration: none;
    color: inherit;
}

#contact_list > li:hover {
    color: #0B4F6C;
    cursor: pointer;

    
}

@media screen and (min-width: 821px) {
    #menu_options {
      display: block !important;
    }
  }


@media screen and (max-width: 820px) {

    
    #section_1 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        min-height: 160vh;
        
    }



    .card {
        justify-self: center;
  
    
    }


    .card.right_card {
        justify-self: center;

    }

    #section_2 {
        min-height: 100vh;
        margin-top: 5%;
    }

    #carousel_wrapper {
        padding-top: 0;
        margin: 0;
        display: flex;

    
    }

    .card_content {
        transform: translate3d(0, 80%, 0);
        transition: 1s all ease-in-out;

   
    }
    
    
    
    .card_content_hover {
        transform: translate3d(0, 0, 0);
        
        
    } 
    

    #section_3 {
        min-height: 260vh;
        grid-template-rows: [first] 10% [second] 90%;
    
    
    }

    .future_tech_wrapper {
        gap: 5vh;
    }

    .future_tech_items {
        grid-template-rows: [first] 10% [second] 40% [third] 40%;
       
    
    }

    #section_4 {
        background-color: white;
        /* background-color: #A3D5FF; */
        height: 50vh;
        display: grid;
        grid-template-rows: [first] 10% [second] 60% [third] 30%;
    
    }

    #section_4 > h4 {
        justify-self: center;
        text-align: center;
        font-size: 1.2em;
        padding: 10%;
        margin-top: 5%;
        max-width: 100%;
     
    }

    .contact_column {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        justify-self: center;
        text-align: center;
        font-size: 2em;
        max-width: 100%;
        padding-top: 15%;

    
    }

    #contact_list {
        list-style-type: none;
        display: inline-block;
        text-align: center;
        place-items: center;
        font-size: clamp(20px, 1.5vw, 800px);
        max-width: 100%;
        padding: 0;
        margin: 0;
        line-height: 2em;
        white-space: nowrap;
    
    }
    
    #contact_list > li {
        margin: 1em
    }


    .icon {
        display: block;
    }

    #menu_options {
        display: none;
        
    }

    #menu_options > li {
        display: flex;
        justify-content: center;
       
       
    }

 
    .mobile_menu {
        background-color: #0B4F6C;
        position: fixed;
        right: 0%;
        top: 5%;
        width: 100%;
        text-align: center;
        z-index: 1;

    }
    
    /* Style for the mobile menu links */
    .mobile_menu > li > a {
        text-decoration: none;
        font-size: 2vh;
        font-weight: strong;
        margin: 5%;
        justify-self: center;
   
        
    }
    
        
    } 


